<main class="main">
  <div class="inner">
    <div class="plan__wrapper">
      <p class="plan__hedding">
        <%= @plan.title %>
      </p>
      <%= link_to "by #{@plan.user.name}", user_path(@plan.user), class: :plan__user %>
      <%# 投稿者とログインしているユーザーが同じであれば以下を表示する %>
      <% if user_signed_in? && current_user.id == @plan.user.id %>
        <div class="plan__manage">
          <%= link_to "編集する", edit_plan_path(@plan), class: :plan__btn %>
          <%= link_to "削除する", plan_path(@plan), data: { turbo_method: :delete }, class: :plan__btn %>
        </div>
      <% end %>
      <%# // 投稿者とログインしているユーザーが同じであれば上記を表示する %>
      <div class="plan__body">
        <div class="plan__detail">
          <p class="detail__title">詳細</p>
          <p class="detail__message">
            <%= @plan.detail %>
          </p>
        </div>
        <div class="plan__detail">
          <p class="detail__title">目標</p>
          <p class="detail__message">
            <%= @plan.goal %>
          </p>
        </div>
        <div class="plan__detail">
          <p class="detail__title">日付</p>
          <p class="detail__message">
            <%= @plan.start_time %>
          </p>
        </div>
      </div>
      <div class="plan__comments">
        <%# ログインしているユーザーには以下のコメント投稿フォームを表示する %>
        <% if user_signed_in? %>
          <%= form_with model: [@plan, @comment], local: true do |f| %>
            <div class="field">
              <%= f.label :content, "コメント" %><br />
              <%= f.text_field :content, id:"comment_content" %>
            </div>
            <div class="actions">
              <%= f.submit "送信する", class: :form__btn %> 
            </div>
          <% end %>
        <% end %>
        <%# // ログインしているユーザーには上記を表示する %>
        <ul class="comments_lists">
          <%# 投稿に紐づくコメントを一覧する処理を記述する %>
          <% @comments.each do |comment| %>
            <li class="comments_list">
              <%= comment.content %>
              <%= link_to "(#{comment.user.name})", user_path(@plan.user), class: :comment_user %>
            </li>
          <% end %>
          <%# // 投稿に紐づくコメントを一覧する処理を記述する %>
        </ul>
      </div>
    </div>
  </div>
</main>
